<div>
    <div class="page-header">
        <h1>{{notification.Name}}</h1>
    </div>

    <form class="form" name="notificationForm" novalidate="novalidate">
        <div class="form-group">
            <label>*Name</label> 
            <input type="text" name="Name" class="form-control" data-ng-model="notification.Name" required="required" />
            <span class="validation-error" data-ng-show="notificationForm.Name.$error.required">name is required</span>
        </div>

        <div class="form-group">
            <label>Description</label> 
            <textarea class="form-control" name="Description" data-ng-model="notification.Description" />
        </div>

        <div class="form-group">
            <label>Cusomer ID File Path</label> 
            <input type="text" class="form-control" name="CustomerIDFilePath" data-ng-model="notification.CustomerIDFilePath" />
        </div>
        
        <div class="form-group">
            <label>*Cusomer Contact File Path</label> 
            <input type="text" class="form-control" name="CustomerContactFilePath" data-ng-model="notification.CustomerContactFilePath" required="required" />
              <span class="validation-error" data-ng-show="notificationForm.CustomerContactFilePath.$error.required">Cusomer Contact File Path is required</span>
        </div>

        <div class="form-group">
            <label>Text Message Template</label> 
            <textarea class="form-control" data-ng-model="notification.TextTemplate" />
        </div>

        <div class="form-group">
            <label>Email Subject</label> 
            <input type="text" class="form-control" data-ng-model="notification.Subject" />
        </div>
        <div class="form-group">
            <label>Email Template</label> 
            <textarea data-ui-tinymce="tinymceOptions" class="form-control" data-ng-model="notification.EmailTemplate" required="required" />
        </div>
        
        <div class="checkbox">           
            <input type="checkbox" data-ng-model="notification.Active" />
            <label>is Active</label> 
        </div>
        <div class="form-group">
            <button class="btn btn-success btn-lg" data-ng-disabled="!canSave()" data-ng-click="saveNotification()" ><i class="fa fa-spinner fa-spin" data-ng-if="isSaving" <i class="fa fa-floppy-o"></i>Save</button>
            <button class="btn btn-danger btn-sm" data-ng-click="cancel()"  ><i class="fa fa-times"></i>Cancel</button>
        </div>
    </form>
    
</>