<!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to Notification Console!</h1>
        <p>
            You can:
            <ul>
                <li><a href="#/notifications">Update Notifications</a></li>
                <li><a href="">Black list a contact</a></li>
                <li><a href="">view message logs</a></li>
                <li><a href="">Change SSIS Package configurations</a></li>
            </ul>
        </p>
      </div>
    </div>
