USE [JMMB_CustomerNotification]
GO
/****** Object:  Table [dbo].[CLIENT]    Script Date: 05/12/2013 13:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CLIENT]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CLIENT](
	[CustomerID] [int] NOT NULL,
	[Last_Name] [char](30) NULL,
	[First_Name] [char](30) NULL,
	[Middle_Initial] [char](6) NULL,
	[Tax_Registration_No] [char](20) NULL,
	[Title] [char](20) NULL,
	[IDTYPE] [char](20) NULL,
	[ID] [char](20) NULL,
	[Client_Type] [char](10) NULL,
	[Date_Open] [datetime] NULL,
	[Date_Closed] [datetime] NULL,
	[Address1] [char](60) NULL,
	[Address2] [char](60) NULL,
	[Parish] [char](20) NULL,
	[Country] [char](40) NULL,
	[Telephone_1] [char](20) NULL,
	[Telephone_2] [char](20) NULL,
	[Fax_no] [char](20) NULL,
	[Email] [char](40) NULL,
	[Country_of_Citizenship] [char](40) NULL,
	[Branch] [char](8) NULL,
	[Birth_Date] [datetime] NULL,
	[Sex] [char](10) NULL,
	[Marital_Status] [char](10) NULL,
	[Num_children] [int] NULL,
	[Age_Range] [char](15) NULL,
	[Next_of_Kin] [char](30) NULL,
	[Kin_address] [char](60) NULL,
	[Kin_Telephone] [char](30) NULL,
	[Primary_CRO_Contact] [char](30) NULL,
	[Mother_Maiden] [char](20) NULL,
	[Industry] [char](30) NULL,
	[Client_Password] [numeric](18, 0) NULL,
	[Occupation] [char](40) NULL,
	[Work_Place] [char](40) NULL,
	[Work_Address] [char](60) NULL,
	[Signature] [image] NULL,
	[Notes] [varchar](255) NULL,
	[Income_Bracket_Code] [char](2) NULL,
	[Hear_About_Us] [char](30) NULL,
	[Income_Currency] [char](4) NULL,
	[Time_Horizon] [char](50) NULL,
	[Interest_Hobbies] [char](40) NULL,
	[KnowledgeofMarkets] [char](15) NULL,
	[FinancialObjectives] [char](40) NULL,
	[InvestmentObjectives] [char](25) NULL,
	[Products_of_Interest] [char](50) NULL,
	[Last_Updated] [datetime] NULL,
	[Last_Updated_By] [char](25) NULL,
	[Transferred] [char](1) NULL,
	[Work_Country] [char](40) NULL,
	[Work_Parish] [char](20) NULL,
	[Required] [bit] NOT NULL,
	[PinNo] [varbinary](256) NULL,
	[Zipcode] [varchar](9) NULL,
	[IDCountry] [char](40) NULL,
	[IdExpiryDate] [datetime] NULL,
	[Alias] [varchar](50) NULL,
	[Prev_Address1] [char](60) NULL,
	[Prev_Address2] [char](60) NULL,
	[Prev_Zip] [char](9) NULL,
	[Prev_Country] [char](40) NULL,
	[Prev_Parish] [char](20) NULL,
	[Sec_IDType] [char](20) NULL,
	[Sec_IDNo] [char](20) NULL,
	[Sec_IDCountry] [char](20) NULL,
	[Sec_IDExpire] [datetime] NULL,
	[Method_of_Contact] [char](25) NULL,
	[Telephone_3] [char](20) NULL,
	[Nationality] [char](60) NULL,
 CONSTRAINT [R_PK_CLIENT_PRIMARY] PRIMARY KEY NONCLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[Notifications]    Script Date: 05/12/2013 13:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Notifications]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CustomerIDFilePath] [nvarchar](255) NULL,
	[CustomerContactFilePath] [nvarchar](255) NOT NULL,
	[TextTemplate] [nvarchar](max) NULL,
	[EmailTemplate] [nvarchar](max) NULL,
	[Subject] [nvarchar](255) NULL,
	[Active] [bit] NOT NULL
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON
SET IDENTITY_INSERT [dbo].[Notifications] OFF
/****** Object:  Table [dbo].[SSIS Configurations]    Script Date: 05/12/2013 13:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SSIS Configurations]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[SSIS Configurations](
	[ConfigurationFilter] [nvarchar](255) NOT NULL,
	[ConfiguredValue] [nvarchar](255) NULL,
	[PackagePath] [nvarchar](255) NOT NULL,
	[ConfiguredValueType] [nvarchar](20) NOT NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[SSIS Configurations] ([ConfigurationFilter], [ConfiguredValue], [PackagePath], [ConfiguredValueType]) VALUES (N'JMMBCustomerNotificationPackage_Defualt', N'http://localhost:1060/AlertService.svc', N'\Package.Connections[SMSService].Properties[ConnectionString]', N'String')
INSERT [dbo].[SSIS Configurations] ([ConfigurationFilter], [ConfiguredValue], [PackagePath], [ConfiguredValueType]) VALUES (N'JMMBCustomerNotificationPackage_Defualt', N'localhost', N'\Package.Connections[Mail Server].Properties[SmtpServer]', N'String')
INSERT [dbo].[SSIS Configurations] ([ConfigurationFilter], [ConfiguredValue], [PackagePath], [ConfiguredValueType]) VALUES (N'JMMBCustomerNotificationPackage_Defualt', N'Data Source=.;Initial Catalog=JMMB_CustomerNotification;Integrated Security=True;Persist Security Info=False;Application Name=SSIS-JMMBCustomerNotificationPackage-{3501384A-658D-48EF-A080-3A45CF3BDEF0}LocalHost.JMMB_Notification;', N'\Package.Connections[LocalHost.JMMB_Notification].Properties[ConnectionString]', N'String')
/****** Object:  Table [dbo].[Exceptions]    Script Date: 05/12/2013 13:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Exceptions]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Exceptions](
	[CustomerId] [nvarchar](50) NULL,
	[ExeptionChannel] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Telephone] [nvarchar](50) NULL
) ON [PRIMARY]
END
GO
INSERT [dbo].[Exceptions] ([CustomerId], [ExeptionChannel], [Email], [Telephone]) VALUES (N'901007', N'Text', NULL, NULL)
INSERT [dbo].[Exceptions] ([CustomerId], [ExeptionChannel], [Email], [Telephone]) VALUES (N'901017', NULL, NULL, NULL)
INSERT [dbo].[Exceptions] ([CustomerId], [ExeptionChannel], [Email], [Telephone]) VALUES (N'901027', NULL, NULL, NULL)
/****** Object:  Table [dbo].[MessageLog]    Script Date: 05/12/2013 13:30:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MessageLog]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[MessageLog](
	[MessageLogId] [int] IDENTITY(1,1) NOT NULL,
	[Channel] [nvarchar](10) NOT NULL,
	[ChannelDestination] [nvarchar](50) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[SentDate] [datetime] NOT NULL,
	[Sucessful] [bit] NOT NULL,
 CONSTRAINT [PK_MessageLog] PRIMARY KEY CLUSTERED 
(
	[MessageLogId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  StoredProcedure [dbo].[procMessageLogInsert]    Script Date: 05/12/2013 13:30:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[procMessageLogInsert]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[procMessageLogInsert]
 @Channel NVARCHAR(10),
 @ChannelDestination NVARCHAR(50),
 @Message NVARCHAR(MAX),
 @SentDate DATETIME,
 @Sucessful BIT
 
 AS
 
 INSERT INTO [JMMB_CustomerNotification].[dbo].[MessageLog]
           ([Channel]
           ,[ChannelDestination]
           ,[Message]
           ,[SentDate]
           ,[Sucessful])
     VALUES
           (@Channel
           ,@ChannelDestination
           ,@Message
           ,@SentDate
           ,@Sucessful)
           
           
' 
END
GO
/****** Object:  Default [DF_CLIENT_Required]    Script Date: 05/12/2013 13:30:06 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_CLIENT_Required]') AND parent_object_id = OBJECT_ID(N'[dbo].[CLIENT]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_CLIENT_Required]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[CLIENT] ADD  CONSTRAINT [DF_CLIENT_Required]  DEFAULT ((1)) FOR [Required]
END


End
GO
/****** Object:  Default [DF_MessageLog_SentDate]    Script Date: 05/12/2013 13:30:06 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_MessageLog_SentDate]') AND parent_object_id = OBJECT_ID(N'[dbo].[MessageLog]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_MessageLog_SentDate]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MessageLog] ADD  CONSTRAINT [DF_MessageLog_SentDate]  DEFAULT (getdate()) FOR [SentDate]
END


End
GO
/****** Object:  Default [DF_MessageLog_Sucessful]    Script Date: 05/12/2013 13:30:06 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_MessageLog_Sucessful]') AND parent_object_id = OBJECT_ID(N'[dbo].[MessageLog]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_MessageLog_Sucessful]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[MessageLog] ADD  CONSTRAINT [DF_MessageLog_Sucessful]  DEFAULT ((1)) FOR [Sucessful]
END


End
GO
/****** Object:  Default [DF_Notifications_Active]    Script Date: 05/12/2013 13:30:06 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_Notifications_Active]') AND parent_object_id = OBJECT_ID(N'[dbo].[Notifications]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_Notifications_Active]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_Active]  DEFAULT ((1)) FOR [Active]
END


End
GO
