/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [NotificationId]
      ,[Name]
      ,[Description]
      ,[CustomerIDFilePath]
      ,[CustomerContactFilePath]
      ,[TextTemplate]
      ,[EmailTemplate]
      ,[Subject]
      ,[Active]
  FROM [JMMB_CustomerNotification].[dbo].[Notifications]
  
  
  UPDATE [Notifications]
  SET EmailTemplate = '<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top" bgcolor="#726627" style="background-color:#726627;"><br>
    <br>
    <table width="600" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" valign="top" style="padding:5px;"><img src="images/logo.png" width="298" height="67" style="display:block;"></td>
      </tr>
      <tr>
        <td align="left" valign="top"><img src="images/top.png" width="600" height="133" style="display:block;"></td>
      </tr>
      <tr>
        <td align="center" valign="top" bgcolor="#006c00" style="background-color:#006c00; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000;"><table width="100%" border="0" cellspacing="0" cellpadding="5">
          <tr>
            <td width="50%" align="left" valign="top" style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:11px;">&nbsp;&nbsp;Month Day, Year </td>
            <td align="right" valign="top" style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:11px;">Hello  {_Coloum5_} {_Coloum2_} {_Coloum3_}</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; padding:12px;"><table width="100%" border="0" cellspacing="0" cellpadding="10" style="margin-bottom:10px;">
          <tr>
            <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#525252;">
            <div style="font-size:18px; color:#006d00;">Newsletter Main Article </div>
              <div style="font-size:28px;">consectetur adipiscing elit. Vestibulum magna enim, volutpat nec imperdiet id</div>
<div><br>
  tempor venenatis eros. Aliquam sed velit vitae nibh pulvinar iaculis. Aenean hendrerit, lorem eu luctus cursus, sapien justo auctor ligula, id bibendum lorem leo quis leo. Suspendisse sit amet aliquam orci. Aliquam erat volutpat. Aliquam erat volutpat. Nunc ac justo enim. Morbi eleifend feugiat turpis non placerat. Etiam sed tellus ac lectus lacinia molestie nec eu nisl. Pellentesque mattis luctus ultrices. Suspendisse pretium feugiat ipsum nec dapibus.</div> </td>
          </tr>
        </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="10" style="margin-bottom:10px;">
            <tr>
              <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#525252;"><div style="font-size:14px;"><b><img src="images/pic001.jpg" width="188" height="148" align="left" style="margin-right:20px;">Article Headline</b></div>
                <div>                Lorem ipsum tempor venenatis eros. Aliquam sed velit vitae nibh pulvinar iaculis. Aenean hendrerit, lorem eu luctus cursus, sapien justo auctor ligula, id bibendum lorem leo quis leo. Suspendisse sit amet aliquam orci. Aliquam erat volutpat. Aliquam erat volutpat. Nunc ac justo enim.<br>
                  <a href="#" style="color:#006c00;">read more</a></div></td>
            </tr>
          </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="10" style="margin-bottom:10px;">
            <tr>
              <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#525252;"><div style="font-size:14px;"><b><img src="images/pic002.jpg" width="183" height="122" align="right" style="margin-left:20px;">Article Headline</b></div>
                <div> Lorem ipsum tempor venenatis eros. Aliquam sed velit vitae nibh pulvinar iaculis. Aenean hendrerit, lorem eu luctus cursus, sapien justo auctor ligula, id bibendum lorem leo quis leo. Suspendisse sit amet aliquam orci. Aliquam erat volutpat. Aliquam erat volutpat. Nunc ac justo enim.<br>
                  <a href="#" style="color:#006c00;">read more</a></div></td>
            </tr>
          </table></td>
      </tr>
      <tr>
        <td align="left" valign="top" bgcolor="#006c00" style="background-color:#006c00;"><table width="100%" border="0" cellspacing="0" cellpadding="15">
          <tr>
            <td align="left" valign="top" style="color:#ffffff; font-family:Arial, Helvetica, sans-serif; font-size:13px;">Company Address <br>
              Contact Person <br>
              Phone: (123) 456-789 <br>
              Email: <a href="mailto:name@yourcompanyname.com" style="color:#ffffff; text-decoration:none;">name@yourcompanyname.com </a><br>
              Website: <a href="http://www.yourcompanyname.com" target="_blank" style="color:#ffffff; text-decoration:none;">www.yourcompanyname.com</a></td>
          </tr>
        </table></td>
      </tr>
  </table>
    <br>
    <br></td>
  </tr>
</table>
</body>
</html>'
  
  
  WHERE Name = 'TestTemplate'
  
 -- Hello {_Coloum5_} {_Coloum2_} {_Coloum3_}. You account {_Coloum6_} is current below the minimum balance, please despoit funds to it so as to not incur penailties.